@font-face {
    font-family: 'News Cycle';
        src: url('http://www.openfontlibrary.org/assets/fonts/news-cycle/d16d9c8311c84dd3d03841e9606a0b0d/b97e8c00a92d2eabc57807bfc93a2fd0/NewsCycleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'News Cycle';
        src: url('http://www.openfontlibrary.org/assets/fonts/news-cycle/d16d9c8311c84dd3d03841e9606a0b0d/0437b824453a7aa88ab3c22529aa53b3/NewsCycleBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }
@font-face {
    font-family: 'Jura';
        src: url('http://www.openfontlibrary.org/assets/fonts/jura/a19f536a40d8911d72ca770d9aa79be9/75b9fb442b928fcfa7e3d9668455e860/JuraBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'Jura';
        src: url('http://www.openfontlibrary.org/assets/fonts/jura/a19f536a40d8911d72ca770d9aa79be9/c0a43e225695977177ae79b0c383d9f4/JuraDemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'Jura';
        src: url('http://www.openfontlibrary.org/assets/fonts/jura/a19f536a40d8911d72ca770d9aa79be9/636d3dac53dffe0023a68f90abacf4c1/JuraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'Jura';
        src: url('http://www.openfontlibrary.org/assets/fonts/jura/a19f536a40d8911d72ca770d9aa79be9/aae5ca4a88b36840a839aa05f5cc62bf/JuraMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }




body {
    background: #fcfcfc;
    font-family: News Cycle;
}
div.document {
    width: 60%;
    margin: 3em auto;
}
img {
    width: 100%;
}
pre {
    color: grey;
    text-align: left;
}
div.section {
    text-align: center;
}
h1 {
    font-family: Jura;
    border-bottom: solid black .07em;
    padding: .1em 1em;
    display: inline-block;
    margin: 1em 0 .5em 0;
}
h2 {
    font-family: Jura;
}
p {
    text-align: justify;
}
a {
    color: grey;
    text-decoration: none;
}
li {
    text-align: left;
    list-style: lower-greek;
}
div#etorriko-zea ul {
    padding: 0;
}
div#etorriko-zea li {
    list-style: none;
    margin: .5em 0;
}
div#etorriko-zea input {
    margin: 0 1em 0 0;
    vertical-align: middle;
}
hr {
    margin-top: 3em;
}
.note {
    margin: 1em;
    padding: 1em;
    font-size: .8em;
    background: #eee;
    color: #666;
}
div#antolatzea-lortuko-dute {
    text-align: left;
}
div#antolatzea-lortuko-dute h1 {
    font-size: 1.3em;
    border: none;
    display: block;
    padding: 0;
}
div#antolatzea-lortuko-dute img {
    width: 20%;
    margin: 5% 5% 5% 0;
    display: inline-block;
    vertical-align: middle;
}
input[type="submit"] {
    background: grey;
    color: white;
}
thead {
    background: grey;
    color: white;
    text-transform: uppercase;
}
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    font-variant: small-caps;
    margin: 2em 0;
}
th {
    border: none;
}
td {
    border: solid gray .1em;
}
col {
    width: 33%;
}

